/* ----------=HTML------------- */

html {
  font-family: sans-serif;
}

/* ----------=Header------------- */

.masthead {
  color: #fff;
  background-color: #612b10;
}

h1 {
  font-family: Molle, sans-serif;
  color: #fff;
  margin: 10px;
}

h2 {
  font-family: Molle, sans-serif;
  color: #612b10;
}

ul li a {
  color: #fff;
}

a:hover {
  color: #ccc;
}

.nav {
  display: none;
  color: #fff;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  top: -2em;
}

.nav-label {
  float: left;
  margin: 10px;
  height: 50px;
  width: 50px;
  background: url("../images/nav-icon.svg") 0 0 / 52px auto;
  margin-left: .5em;
  margin-top: .5em;
}

.nav-check:hover ~ .nav-label {
  background-position: 0 -52px;
}

.nav-check:checked ~ .nav-label {
  background-position: 0 -104px;
}

.nav-check:focus ~ .nav-label {
  outline: none;
}

.nav-check:checked:hover ~ .nav-label {
  background-position: 0 -156px;
}

@media only screen and (min-width: 35em) {

  nav li {
    display: inline-block;
  }

  .nav-label, .nav-check {
    display: none;
    background: none;
  }

  .nav {
    display: inline-block;
  }

  .logo-wrapper {
    text-align: left;
  }

  .nav-wrapper {
    text-align: right;
  }

}

/* ----------=Banner------------- */

.heading-banner {
  background-image: url("../images/banner.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 24em;
}

.embed-item {
  position: absolute;
  transform: translateX(-30%);
  left: 50%;
  color: #9c9c9c;
  display: inline;
  top: 40%;
  padding-right: 1em;
}

/* ----------=Icon Cards------------- */

.card {
  width: 100%;
  text-align: center;
}

.card-img {
  max-width: 80%;
  padding-left: 3em;
  list-style-type: none;
}

@media only screen and (min-width: 35em) {

  .card {
    width: 30%;
  }
}

/* ----------=Second Photo------------- */

.img-flex {
  display: block;
  width: 100%;
}

/* ----------=Location/Hours------------- */

@media only screen and (min-width: 35em) {

  .padleft-map {
    float: left;
    margin: 15px;
  }

  .table {
    float: right;
    margin: 15px;
    width: 40.99%;
  }
}

/* ----------=Form------------- */

@media only screen and (min-width: 35em) {

  .phone {
    padding-right: .5em;
  }

  .date {
    padding-left: .5em;
  }
}

/* ----------=Footer------------- */

footer {
  background-color: #612b10;
  color: #fff;
}
