/*----------=HTML-------------*/

html {
  font-family: sans-serif;
}





/*----------=Header-------------*/

h1, h2{
  font-family: Molle, sans-serif;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display:block;
}

.nav-check {
  top: -2em;
}

.nav-label {
  height: 52px;
  width: 52px;
  background: url("../images/icons/nav-icon.svg") 0 0 / 52px auto;
  color: #;                             <-------------- add colour
}

.nav-check:hover ~ .nav-label {
  background-position: 0 -52px;
}

.nav-check:checked ~ .nav-label {
  background-position: 0 -104px;
}

.nav-check:focus ~ .nav-label {
  outline: 2px solid #;                 <-------------- add colour
}

.nav-check:checked:hover ~ .nav-label {
  background-position: 0 -156px;
}

@media only screen and (min-width: 35em) {

  nav li {
    display: inline-block;
  }

  .nav-label , .nav-check {
    display: none;
    background: none;
  }

  .nav {
    display: inline-block;
  }

  .logo-wrapper {
    text-align: left;
  }

  .nav-wrapper {
    text-align: left;
  }

}

/*----------=Banner-------------*/

.heading-banner {
  background-image: url("../images/placeholder-golden.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 24em;
}

.embed-item {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  color: white;
  display: inline;
  top: 40%;
}





/*----------=Icon Cards-------------*/

.card-img {
  max-width: 25.99%;
}




/*----------=Location/Hours-------------*/

.img-flex {
  display: block;
  width: 100%;
}

/*----------=Location/Hours-------------*/


@media only screen and (min-width: 35em) {

  .padleft-map {
    float: left;
    margin: 15px;
  }

  .table {
    float: right;
    margin: 15px;
    width: 40.99%;
  }
}



/*----------=Form-------------*/

@media only screen and (min-width: 35em) {

  .phone {
    padding-right: .5em;
  }

  .date {
    padding-left: .5em;
  }
}



/*----------=Footer-------------*/
